body{
	background-color: black;
	text-align: center;
	font-family: Raleway, sans-serif;
	color: white;
	margin-top: 15%;
	font-size: 30px;
	letter-spacing: 1px;
	padding: 0px 20px;
}
h2{
	font-size: 1.7em;
}
a{
	color: white;
	text-decoration: none;
}
.twitter{
	color: #1DA1F2;
	text-decoration: underline;
}
.twitter:hover{
	color: white;
}
.icon-link{
	border-radius: 50%;
	height: 64px;
	width: 64px;
	margin: 0px 10px;
}