/*NAVBAR*/
.nav{
	background-color: white;
	color: black;
	border-radius: 35px;
	text-align: left;
	margin: 30px;
	padding: 20px;
	position: sticky;
	top: 10px;
}
.navimg{
	height: 100px;
	width: 100px;
	border-radius: 50%;
}
.nav-button{
	font-size: 25px;
	text-decoration: none;
	color: black;
	margin-left: 20px;
}